/* DASHBOARD STYLES */

.dashboard-container {
	// position: fixed;
	// bottom: 0;
	// width: 100%;
	// padding: 10px 10px;
	// background-color: white;
	// border-top: 1px solid lightgrey;
	.dropdown {
		margin: 20px 0 20px 0;
	}
}

/* PAGE PREVIEW STYLES */

.page-container {
	font-family: Verdana;
	// height: 400px;
	// overflow-y: scroll;
	.header {
		color: #fff;
		position: relative;
		.headerDetails {
			padding: 30px;
		    position: absolute;
		    z-index: 2;
		    top: 100%;
		    left: 40%;
		    transform: translate(-50%, -110%);
		    min-height: 200px;
		    min-width: 400px;
		}
		.title {
			font-size: 48px;
		}
		.author {
			font-size: 14px;
		}
		.coverImage {
			background-size: cover;
			background-repeat: no-repeat;
			padding: 0;
			min-height: 700px;
			width: 100%;
		}
		.dark-gradient{
			height: 300px;
			width: 100%;
			position: absolute;
			z-index: 1;
			bottom: 0;
			background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); 
    		background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)); 
    		background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
		}
	}
	.text {
		font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	}
	.subhead {
		color: DodgerBlue;
		font-weight: bolder;
	}
	.quote {
		font-size: 1.5em;
		font-weight: 600;
		font-style: oblique;
	}
	.quoteSource {
		font-size: 0.9em;
		font-weight: 400;
		color: grey;
		letter-spacing: 0.5px;
	}
	.image {
		.img-block {
			position: relative;
			height: 400px;
			background-repeat: no-repeat;
			background-size: cover;
			.img-credit {
				background-color: rgba(255,255,255,0.5);
				vertical-align: middle;
			}
		}
		.img-caption {
			vertical-align: middle;
		}
	}
}

/* GLOBAL STYLES */
.center-block {
	padding: 0 10% 0 10%;
}

/* /all STYLES */
.all_pages {
	font-family: Verdana;
	margin: 20px 20px;
	.coverImage {
		margin: 15px 0 0 15px;
		width: 85%;
		height: 100px;
	}
	.row{
		padding-top: 10px;
	}
}