/* ============NORMAL PAGE STYLES DURING PREVIEW =================*/
/* Dashboard */
.dashboard-container {
  position: relative;
  width: 0px;
  height: 100vh;
  float: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .dashboard-container .dashboard-main {
    position: fixed;
    z-index: 100;
    top: 0;
    background: #fff;
    width: 300px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #ddd;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    .dashboard-container .dashboard-main .component-inputs {
      margin: 30px 0px; }
      .dashboard-container .dashboard-main .component-inputs .component-input {
        margin: 10px 0px; }
    .dashboard-container .dashboard-main .text textarea {
      height: 300px; }
    .dashboard-container .dashboard-main .btn-down {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100px; }
    .dashboard-container .dashboard-main .btn-down.preview {
      font-size: 48px;
      width: 200px; }
  .dashboard-container .dashboard-sub {
    position: fixed;
    top: 0%;
    z-index: 99;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .dashboard-container .dashboard-sub button {
      font-size: 24px;
      color: #fff;
      margin: 0;
      letter-spacing: 3px;
      background: #000;
      border: none;
      padding: 10px;
      padding-left: 20px;
      -webkit-transition: translateX(-10px);
      transform: translateX(-10px);
      -webkit-transition: transform 0.5s ease;
      transition: transform 0.5s ease; }
  .dashboard-container .dashboard-sub:hover {
    cursor: pointer; }
    .dashboard-container .dashboard-sub:hover button {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .dashboard-container .btn-generate {
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    margin: 20px; }

/* Main Page*/
.page-container {
  font-family: Verdana;
  position: relative;
  float: right;
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .page-container .sortable-element {
    height: auto; }
  .page-container .component-container {
    position: relative; }
    .page-container .component-container .component-action-btn-group {
      visibility: hidden;
      position: absolute;
      left: 5px;
      top: 5px; }

.header {
  color: #fff;
  position: relative;
  margin-bottom: 40px; }
  .header .headerDetails {
    padding: 30px;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 40%;
    min-height: 200px;
    min-width: 400px;
    -webkit-transform: translate(-50%, -110%);
    transform: translate(-50%, -110%); }
  .header .title {
    font-size: 48px;
    font-family: Verdana; }
  @media all and (max-width: 550px) {
    .header .headerDetails {
      left: 60%;
      right: 30%;
      min-width: 500px; }
    .header .title {
      font-size: 36px; } }
  .header .author {
    font-size: 20px;
    font-family: Verdana; }
  .header .coverImage {
    background: no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    height: 700px;
    min-height: 500px;
    width: 100%; }
  .header .dark-gradient {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); }

.text {
  font-family: Arial, sans-serif; }

.subhead {
  font-size: 32px;
  font-weight: bolder;
  font-family: Verdana; }

.quote-block {
  overflow: auto;
  padding: 0px 30px; }
  .quote-block .quote-content {
    float: left;
    width: 100%; }
    .quote-block .quote-content .quote-text {
      font-size: 1.5em;
      font-weight: 600;
      font-style: oblique; }
    .quote-block .quote-content .quote-source {
      font-size: 0.9em;
      font-weight: 400;
      color: grey;
      letter-spacing: 0.5px; }
  .quote-block .quote {
    float: left;
    font-family: 'Times';
    font-size: 150px;
    color: #000;
    overflow: hidden;
    line-height: 200px;
    height: 100px; }
  .quote-block .quote-left {
    margin-left: -5px; }
  .quote-block .quote-right {
    float: right;
    margin-top: -50px; }

.quoteSource {
  font-size: 0.9em;
  font-weight: 400;
  color: grey;
  letter-spacing: 0.5px; }

.image {
  padding-top: 30px !important; }
  .image .img-block {
    position: relative;
    /*height: 400px;
		background-repeat: no-repeat;
		background-size: cover;*/
    min-width: 100%;
    height: auto; }
  .image .img-credit {
    color: grey;
    background-color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    font-size: 10px; }
    .image .img-credit span {
      padding-right: 5px; }
  .image .img-caption {
    padding-top: 10px;
    vertical-align: middle; }

.sortable-inner {
  position: relative;
  max-height: 350px;
  overflow: hidden; }
  .sortable-inner .component-action-btn-group {
    visibility: hidden; }

/*==========DASHBOARD / PAGE WHEN EDITING=========*/
.app-container.editing .dashboard-container {
  width: 300px; }
  .app-container.editing .dashboard-container .dashboard-main {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .app-container.editing .dashboard-container .dashboard-sub button {
    font-size: 24px;
    color: #fff;
    margin: 0;
    letter-spacing: 3px;
    background: #000;
    border: none;
    padding: 10px;
    padding-left: 20px;
    -webkit-transition: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease; }

.app-container.editing .page-container {
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px); }
  .app-container.editing .page-container .sortable-element {
    position: relative;
    max-height: 350px;
    overflow: hidden;
    border-bottom: 1px solid #ddd; }
    .app-container.editing .page-container .sortable-element .component-action-btn-group {
      visibility: visible; }

/* ==================GLOBAL STYLES================*/
.center-block {
  padding: 0 10% 0 10%; }

/* /all STYLES */
.all_pages {
  font-family: Verdana;
  margin: 20px 20px; }
  .all_pages .coverImage {
    margin: 15px 0 0 15px;
    width: 85%;
    height: 100px; }
  .all_pages .row {
    padding-top: 10px; }
