/* DASHBOARD STYLES */

.dashboard-container {
	.dropdown {
		margin: 20px 0 20px 0;
	}
}

/* PAGE PREVIEW STYLES */

.page-container {
	.header {
		.headerDetails {
			background-color: rgba(160,160,160, 0.2) ;
			padding: 30px;
			border-radius: 2em;	
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.title {
			color: black;
		}
		.coverImage {
			background-position: cover;
			min-height: 700px;
			width: 100%;
		}
		hr { 
			height: 5px;
			color: black;
		}
	}
	.text{
		font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
		margin: 0 30% 0 30%;
		font-size: 1.3em;
	}
	/*.linebreak {
	    padding: 5px;
	    border-top: 2px solid rgb(0,0,0);
	    margin-top: 40px;
	    margin-bottom: 40px;
	}*/
}