$dashboard_width: 300px;

/* Fixed dashboard styles */
.dashboard-container {
	position: relative;

	@include fade_transition();

	.dashboard-header {
		position: relative;
		width: $dashboard_width;
		padding: 20px 10px;
		@include nav_background();
		.logo { 
			text-decoration: none; 
			.logo-text {
				@include logo_font();
				display: inline;
			}
		}

		.navigation {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 15%;
			.link {
				height: 50%;
				text-align: center;
				border-top: solid 1px grey;
				background-color: rgba(255,255,255,0.4);
				@include fade_transition();
				.glyphicon {
					vertical-align: -webkit-baseline-middle;
					color: $nav_text_color;
				}
				&:hover {
					background-color: rgba(255,255,255,0.6);
				}
			}
		}
	}

    .dashboard-main {
  		position: fixed;
  		z-index: 100;
	    background: #fff;
	    width: $dashboard_width;
	    height: 100%;

	    border-right: 1px solid #ddd;

	    -webkit-transform: translateX(-100%);
				transform: translateX(-100%);

	    @include fade_transition();

	    .dashboard-input-group {
	    	padding: 20px;

	    	.component-inputs {
				margin: 30px 0px;

				.component-input {
					margin: 10px 0px;
				}
			}

			.text {
				textarea {
					height: 100px;
				}
			}
	    }

		.submit-component-btn {
			float: right;
		}
    }

    .dashboard-sub {
    	position: fixed;
	    top: 0%;
	    z-index: 99;
		height: 100%; 

	    @include fade_transition();

		button {
			font-size: 24px;
			color: #fff;
	    	background: #000;
	    	border: none;
	    	padding: 10px;
	    	padding-left: 20px;

	    	-webkit-transition: translateX(-10px);
	    			transform: translateX(-10px);

	    	-webkit-transition: transform 0.5s ease;
					transition: transform 0.5s ease;
		}
    }

    .dashboard-sub:hover {
		cursor: pointer;
		
		button {
			-webkit-transform: translateX(0);
					transform: translateX(0);
		}
	}

	.btn-generate-group {
		position: absolute;
		bottom: 15px;
		left: 15px;
	}
}

/*==========DASHBOARD / PAGE WHEN EDITING=========*/

.app-container.editing {
	.dashboard-container {
		width: $dashboard_width;
		.dashboard-main {
			-webkit-transform: translateX(0);
					transform: translateX(0);
		}
		.dashboard-sub {
			margin-left: $dashboard_width;
		}
	}
	
	.page-container {
		width: -webkit-calc(100% - 300px);
	    width:    -moz-calc(100% - 300px);
	    width: 	   	   calc(100% - 300px);

		.sortable-element {
			position: relative;
	    	max-height: 350px;
	    	overflow: hidden;
	    	border-bottom: 1px solid #ddd;

	    	.component-action-btn-group {
	    		display: block;
	    		position: absolute;
	    		right: 5px;
	    		top: 0;
	    	}
		}

		.center-block {
			padding: 0 10% 0 10%;
		}
	}
}