.navbar-default {
	height: 60px;
	@include nav_background();
}
.navbar-default .navbar-brand {
	font-size: 30px;
	line-height: 30px;
	@include logo_font();
	&:hover {
		color: $nav_text_color;
	}
}
.navbar-default .navbar-nav > li > a {
	color: $nav_text_color;
	border-right: solid 1px grey;
	line-height: 30px;
	font-size: 16px;
	background-color: rgba(255,255,255,0.2);
	@include fade_transition();
	&:hover {
		background-color: rgba(255,255,255,0.4);
		@include fade_transition();
	}
}