@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Inconsolata|Martel|PT+Sans|Raleway|Roboto');

$header_font_family: 'Droid Sans', sans-serif;
$header_gradient_opacity: 0.8;
$header_title_color: #fff;

$subhead_font_family: 'PT Sans', sans-serif;
$subhead_font_size: 2em;

$body_text_font_family: 'Roboto', sans-serif; 
$body_text_font_size: 16px;

$container_margin: 25%;

$image_credit_font_family: 'Inconsolata', sans-serif;
$image_caption_font_size: 14px;

$quote_text_font_family: 'Martel', serif;
$quote_source_font_family: 'PT Sans', sans-serif;

$nav_text_color: floralwhite;

$transition_duration: 0.5s;
@mixin fade_transition() {
	-webkit-transition: all $transition_duration ease;
			transition: all $transition_duration ease;
}

$nav_background-image: 'assets/images/kaleidoscope.png';
@mixin nav_background() {
	background-image: url($nav_background_image);
	background-size: cover;
	background-position: center center; 
}

@mixin logo_font() {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $nav_text_color;
}