body {
	background-color: #eee;
}

@import 'properties';
@import 'dashboard';
@import 'usage';
@import 'navbar';

/* ==================GLOBAL STYLES================*/

/* /all STYLES */

.all_pages {
	font-family: Verdana;
	margin: 100px 0;

	&.grid{
		overflow: auto;
    	margin-top: 90px;
		.col-md-3{
			margin-bottom: 20px;
		}

		.panel{
			position: relative;
			border-radius: 5px;
    		overflow: hidden;

			-webkit-transition: border 0.1s ease;
					transition: border 0.1s ease;

			&:hover{
				border: 1px solid rgba(0,0,0,0.2);
			}

			.coverImage {
				height: 200px;
				background-size: cover;
				background-position: 50%;
			}

			.panel-body{
				height: 200px;

				p{
					color: #000;
					font-size: 12px;
				}

				.title{
					font-size: 20px;
				}

				.datetime{
					position: absolute;
    				bottom: 10px;
    				font-size: 10px;
				}
			}

			.panel-icons{
				    position: absolute;
				    bottom: 0;
				    right: 0;
				.btn-wrapper{
					display: inline-block;
					button{
						background: none;
	    				color: #000;
					}

					button:hover{
						color: rgba(0,0,0,0.5);
					}

					button:focus{
						outline: 0;
					}
				}
				
			}
		}
		
		.row {
			padding-top: 10px;
		}
	}
	
}