@import 'dashboard';
@import 'usage';
@import 'properties';

/* ==================GLOBAL STYLES================*/

/* /all STYLES */
.all_pages {
	font-family: Verdana;
	margin: 100px 0;
	.coverImage {
		margin: 15px 0 0 15px;
		width: 85%;
		height: 100px;
	}
	.row {
		padding-top: 10px;
	}
}

// Navbar
.navbar-default {
	height: 60px;
}
.navbar-brand {
	font-size: 30px;
	line-height: 30px;
}
.navbar-nav > li > a {
	line-height: 30px;
	font-size: 16px;
}