@import 'properties';
@import 'dashboard';
@import 'usage';
@import 'navbar';

/* ==================GLOBAL STYLES================*/

/* /all STYLES */
.all_pages {
	font-family: Verdana;
	margin: 100px 0;
	.coverImage {
		margin: 15px 0 0 15px;
		width: 85%;
		height: 100px;
	}
	.row {
		padding-top: 10px;
	}
}