extends template

block content
	nav.navbar.navbar-default.navbar-fixed-top
		div.navabar-header
			a(class='navbar-brand' href='/') Kaleidoscope
			ul.nav.navbar-nav
				li
					a(href='/') 
						span.glyphicon.glyphicon-text-color
						span Create 
				li
					a(href='all') 
						span.glyphicon.glyphicon-list
						span Past Pages
				li
					a(href='usage') 
						span.glyphicon.glyphicon-question-sign
						span Usage
	block static_content