extends template

block content
	nav.navbar.navbar-default.navbar-fixed-top
		div.navabar-header
			a(class='navbar-brand' href='/') Kaleidoscope
			ul.nav.navbar-nav
				li
					a(href='/') 
						| Create 
						span.glyphicon.glyphicon-text-color
				li
					a(href='all') 
						| Past Pages 
						span.glyphicon.glyphicon-fast-backward
				li
					a(href='usage') 
						| Usage 
						span.glyphicon.glyphicon-question-sign
	block static_content