doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(href="style.css" type="text/css" rel="stylesheet")

	body
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-with-addons.min.js")
		script(src="/dist/js/bundle.js")