@import 'page';
@import 'dashboard';

/* ==================GLOBAL STYLES================*/
.center-block {
	padding: 0 $container_margin 0 $container_margin;
	margin: 10px 0;
}

/* /all STYLES */
.all_pages {
	font-family: Verdana;
	margin: 20px 20px;
	.coverImage {
		margin: 15px 0 0 15px;
		width: 85%;
		height: 100px;
	}
	.row {
		padding-top: 10px;
	}
}
