extends template

block content
	div.all-pages
		each page in pages
			div.col-md-3
				each component in page.components
						p
							=component.type

			a(class='btn btn-default update-btn' href='/update/' + page.id) Update
			