extends template

block content
	h2.text-center Create your flatpage
	br

	div.container
		div.row
			div.col-xs-9.col-xs-offset-1
				div.account-wall
					form(class='form-horizontal', action='/create', method='POST')
						div(class='form-group')
							label(class='col-xs-3 control-label') Authors
							div(class='col-xs-8')
								input(class='form-control', type='text', name='authors', required, autofocus)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='authors')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='authors')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='authors')
						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Main Images
							div(class='col-xs-8')
								input(class='form-control', type='text', name='mainImages', autofocus)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='mainImages')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='mainImages')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='mainImages')
						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Side Images
							div(class='col-xs-8')
								input(class='form-control', type='text', name='sideImages', autofocus)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='sideImages')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='sideImages', autofocus)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='sideImages', autofocus)
						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Title
							div(class='col-xs-8')
								input(class='form-control', type='text', name='title', required)

						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Cover photo
							div(class='col-xs-8')
								input(class='form-control', type='text', name='cover', required)

						div(class='form-group')
							label(class='col-xs-3 control-label') Cover photo credit
							div(class='col-xs-8')
								input(class='form-control', type='text', name='coverCaption', required)

						div(class='form-group')
							label(class='col-xs-3 control-label') Subheading
							div(class='col-xs-8')
								input(class='form-control', type='text', name='subheading', required)

						div(class='form-group')
							label(class='col-xs-3 control-label') Main Image Credits
							div(class='col-xs-8')
								input(class='form-control', type='text', name='mainImageCaptions', required)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='mainImageCaptions')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='mainImageCaptions')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='mainImageCaptions')

						div(class='form-group')
							label(class='col-xs-3 control-label') Side Image Captions
							div(class='col-xs-8')
								input(class='form-control', type='text', name='sideImageCaptions', required)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='sideImageCaptions')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='sideImageCaptions')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='sideImageCaptions')

						div(class='form-group')
							label(class='col-xs-3 control-label') Quotes
							div(class='col-xs-8')
								input(class='form-control', type='text', name='quotes')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quotes')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quotes')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quotes')

						div(class='form-group')
							label(class='col-xs-3 control-label') Quote Attribute
							div(class='col-xs-8')
								input(class='form-control', type='text', name='quoteMakers')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quoteMakers')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quoteMakers')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quoteMakers')

						div(class='form-group')
							label(class='col-xs-3 control-label') Paragraphs
							div(class='col-xs-8')
								textarea(name='paragraphs', cols='90', rows='8')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								textarea(name='paragraphs', cols='90', rows='8')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								textarea(name='paragraphs', cols='90', rows='8')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								textarea(name='paragraphs', cols='90', rows='8')

						button(class='btn btn-lg btn-primary btn-block', type='submit') Generate Flatpage
							span.clearfix