doctype html
html(lang="en")
	head
		title= title

	body
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.js")
		script(src="/dist/js/bundle.js")
		link(href="/assets/css/style.css" type="text/css" rel="stylesheet")