@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Inconsolata|Martel|PT+Sans|Raleway|Roboto");
/* Fixed dashboard styles */
.dashboard-container {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .dashboard-container .dashboard-header {
    position: relative;
    width: 300px;
    height: 80px;
    padding: 20px 10px;
    background-image: url("assets/images/kaleidoscope.png");
    background-size: cover;
    background-position: center center; }
    .dashboard-container .dashboard-header .logo {
      text-decoration: none; }
      .dashboard-container .dashboard-header .logo .logo-text {
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: floralwhite;
        display: inline; }
    .dashboard-container .dashboard-header .navigation {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 15%; }
      .dashboard-container .dashboard-header .navigation .link {
        height: 50%;
        text-align: center;
        border-top: solid 1px grey;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .dashboard-container .dashboard-header .navigation .link .glyphicon {
          vertical-align: -webkit-baseline-middle;
          color: floralwhite; }
        .dashboard-container .dashboard-header .navigation .link:hover {
          background-color: rgba(255, 255, 255, 0.6); }
  .dashboard-container .dashboard-main {
    position: fixed;
    z-index: 100;
    background: #fff;
    width: 300px;
    height: 100%;
    border-right: 1px solid #ddd;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .dashboard-container .dashboard-main .dashboard-input-group {
      padding: 20px; }
      .dashboard-container .dashboard-main .dashboard-input-group .component-inputs {
        margin: 30px 0px; }
        .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input {
          margin: 10px 0px; }
          .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input label {
            font-size: 14px;
            opacity: 0.5;
            color: grey; }
          .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input input, .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input textarea {
            border: none;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 0;
            font-size: 20px; }
            .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input input:focus, .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input textarea:focus {
              outline: 0;
              box-shadow: 0; }
            .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input input:placeholder-shown, .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input textarea:placeholder-shown {
              opacity: 0.5; }
          .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input input:focus, .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input input:valid {
            border-bottom: 1px solid black; }
          .dashboard-container .dashboard-main .dashboard-input-group .component-inputs .component-input textarea {
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px; }
      .dashboard-container .dashboard-main .dashboard-input-group .text textarea {
        height: 100px; }
    .dashboard-container .dashboard-main .submit-component-btn {
      float: right;
      padding: 8px 0;
      border-radius: 50px;
      width: 50%; }
    .dashboard-container .dashboard-main .btn.btn-primary {
      background: #000;
      border-radius: 30px; }
      .dashboard-container .dashboard-main .btn.btn-primary:hover {
        background: rgba(0, 0, 0, 0.8); }
  .dashboard-container .dashboard-sub {
    position: fixed;
    top: 0%;
    z-index: 99;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .dashboard-container .dashboard-sub button {
      font-size: 18px;
      color: #fff;
      background: #000;
      border: none;
      padding: 20px;
      padding-left: 30px;
      box-sizing: border-box;
      height: 80px;
      -webkit-transition: translateX(-10px);
      transform: translateX(-10px);
      -webkit-transition: transform 0.5s ease;
      transition: transform 0.5s ease; }
      .dashboard-container .dashboard-sub button .glyphicon-eye-open {
        display: none; }
    .dashboard-container .dashboard-sub button:focus {
      outline: 0; }
  .dashboard-container .dashboard-sub:hover {
    cursor: pointer; }
    .dashboard-container .dashboard-sub:hover button {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .dashboard-container .btn-generate-group {
    position: absolute;
    bottom: 15px;
    left: 15px; }
    .dashboard-container .btn-generate-group > * {
      float: left;
      margin-right: 15px; }

/*==========DASHBOARD / PAGE WHEN EDITING=========*/
.app-container.editing .dashboard-container {
  width: 300px; }
  .app-container.editing .dashboard-container .dashboard-main {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .app-container.editing .dashboard-container .dashboard-sub {
    margin-left: 300px; }
    .app-container.editing .dashboard-container .dashboard-sub .glyphicon-pencil {
      display: none; }
    .app-container.editing .dashboard-container .dashboard-sub .glyphicon-eye-open {
      display: inline; }

.app-container.editing .page-container {
  background: #fff;
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px); }
  .app-container.editing .page-container .sortable-element {
    position: relative;
    max-height: 350px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 0px; }
    .app-container.editing .page-container .sortable-element .component-action-btn-group {
      display: block;
      position: absolute;
      right: 5px;
      top: 0; }
  .app-container.editing .page-container .center-block {
    padding: 0 10% 0 10%; }

.usage-container {
  margin-bottom: 50px; }
  .usage-container .description {
    font-size: 20px; }
  .usage-container .component-list .component-description {
    margin: 15px 0; }
  .usage-container .component-list li {
    font-size: 18px; }
  .usage-container img {
    max-width: 80%;
    margin: 10px 0; }
  .usage-container .howtouse li {
    font-size: 18px; }

.navbar-default {
  height: 60px;
  background-image: url("assets/images/kaleidoscope.png");
  background-size: cover;
  background-position: center center; }

.navbar-default .navbar-brand {
  font-size: 30px;
  line-height: 30px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: floralwhite; }
  .navbar-default .navbar-brand:hover {
    color: floralwhite; }

.navbar-default .navbar-nav > li > a {
  color: floralwhite;
  border-right: solid 1px grey;
  line-height: 30px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* ==================GLOBAL STYLES================*/
/* /all STYLES */
body {
  background-color: #eee; }

.all_pages {
  font-family: Verdana;
  margin: 100px 0; }
  .all_pages.grid {
    overflow: auto;
    margin-top: 90px; }
    .all_pages.grid .col-md-3 {
      margin-bottom: 20px; }
    .all_pages.grid .panel {
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      -webkit-transition: border 0.1s ease;
      transition: border 0.1s ease; }
      .all_pages.grid .panel:hover {
        border: 1px solid rgba(0, 0, 0, 0.2); }
      .all_pages.grid .panel .coverImage {
        height: 200px;
        background-size: cover;
        background-position: 50%; }
      .all_pages.grid .panel .panel-body {
        height: 200px; }
        .all_pages.grid .panel .panel-body p {
          color: #000;
          font-size: 12px; }
        .all_pages.grid .panel .panel-body .title {
          font-size: 20px; }
        .all_pages.grid .panel .panel-body .datetime {
          position: absolute;
          bottom: 10px;
          font-size: 10px; }
      .all_pages.grid .panel .panel-icons {
        position: absolute;
        bottom: 0;
        right: 0; }
        .all_pages.grid .panel .panel-icons .btn-wrapper {
          display: inline-block; }
          .all_pages.grid .panel .panel-icons .btn-wrapper button {
            background: none;
            color: #000; }
          .all_pages.grid .panel .panel-icons .btn-wrapper button:hover {
            color: rgba(0, 0, 0, 0.5); }
          .all_pages.grid .panel .panel-icons .btn-wrapper button:focus {
            outline: 0; }
    .all_pages.grid .row {
      padding-top: 10px; }
